/* Set some properties for the main colour categories */

:root {
    --uninfected: #999999;
    --infectious: #984ea3;
    --symptomatic: #e41a1c;
    --immune: #4daf4a;
    --vaccinated: #507c4e;
    --dead: black;

}

body {
    font-family: 'Audiowide';font-size: 22px;
}

h1, h2 {
    color: #d00;
    padding-top: 0;
    margin-top: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td {
    background-color: var(--uninfected);
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0px;
    margin: 0px;
}

#day {
    font-size: 150%;
    padding: 0;
    margin: 0;
    border: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

td.symptomatic {
    background-color: var(--symptomatic);
}

td.immune {
    background-color: var(--immune);
}

td.vaccinated {
    background-color: var(--vaccinated);
}

td.infectious {
    background-color: var(--infectious);
}

td.dead {
    background-color: var(--dead);
}

button {
    font-family: 'Audiowide';font-size: 22px;
    font-size: 200%;
    margin: 1em;
    text-transform: uppercase;
}

select {
    font-family: 'Audiowide';font-size: 22px;
    font-size: 100%;
    color: red;
}


div.slider {
    width: 90%;
    padding: 0;
    margin: 0;
}

.slidercontrol {
    background: lightgray;
}

.slidercontrol::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: 0;
    background: url('virus_icon.png');
    cursor: pointer;
  }
  
  .slidercontrol::-moz-range-thumb {
    width: 50px;
    height: 50px;
    border: 0;
    background: url('virus_icon.png');
    cursor: pointer;
  }

input {
    width: 100%;
}

div.simulation {
    margin-left: 2%;
    margin-right: 65%;
    width: 63%;
}

div.virus {
    width:30%;
    float: right;
}

div.virus p {
    font-size: 80%;
}

span.changevalue {
    font-size: 150%;
    color: red;
}

div.buttons {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

div.categories {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:100%;
}

#viruslist {
    list-style: none;
    padding: 0;
}
#viruslist a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
    padding: 1em;
}

ul.categories {
    list-style: none;
    padding: 0;
    margin:0;
    border: 0;
}    

ul.categories li {
    display: inline-block;
    color: white;
    margin:0;
    border: 0;
    padding: 0.5em;
    font-size: 70%;
    text-transform: uppercase;
    width: 9em;
}

ul.categories li.dead {
    display: inline-block;
    background-color: var(--dead);
}

ul.categories li.immune {
    display: inline-block;
    background-color: var(--immune);
}

ul.categories li.infectious {
    display: inline-block;
    background-color: var(--infectious);
}

ul.categories li.symptomatic {
    display: inline-block;
    background-color: var(--symptomatic);
}

ul.categories li.vaccinated {
    display: inline-block;
    background-color: var(--vaccinated);
}

ul.categories li.uninfected {
    display: inline-block;
    background-color: var(--uninfected);
}