td {
    background-color: grey;
    padding: 5px;
}

td.infected {
    background-color: red;
}

td.immune {
    background-color: green;
}

td.infectious {
    background-color: purple;
}

td.dead {
    background-color: black;
}
