body {
    font-family: 'Audiowide';font-size: 22px;
}

h1, h2 {
    color: #d00;
}

table {
    border-collapse: collapse;
}
td {
    background-color: lightgray;
    padding: 5px;
    border: 0px;
    margin: 0px;
}

td.infected {
    background-color: red;
}

td.immune {
    background-color: green;
}

td.infectious {
    background-color: purple;
}

td.dead {
    background-color: black;
}

div.slider {
    width: 100%;
}
input {
    width: 100%;
}

div.simulation {
    margin-left: 0%;
    margin-right: 70%;
    width: 70%;
}

div.virus {
    width:30%;
    float: right;
}

div.virus p {
    font-size: 80%;
}

span.changevalue {
    font-size: 150%;
    color: red;
}
